.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.result {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtext {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.input {
  width: 60%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select {
  width: 35%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
